{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort",
    "unused-imports"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/consistent-type-imports": "warn",
    "@typescript-eslint/consistent-type-exports": "warn",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          [
            "^react",
            "^@mui",
            // Imports starting with `../`
            "^\\.\\.(?!/?$)",
            "^\\.\\./?$",
            // Imports starting with `./`
            "^\\./(?=.*/)(?!/?$)",
            "^\\.(?!/?$)",
            "^\\./?$"
          ]
        ]
      }
    ],
    "unused-imports/no-unused-imports": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
